

.c {
  width: 13% !important;
  padding: 20px;
  background-color: black;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 5px 4px 5px rgba(27, 25, 25, 0.3);
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  align-items: center;
  margin: auto;
  margin-bottom: 20%;
  position: relative;
  margin-top: 20px !important;
  margin-bottom: 5px;

}

.button {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-rows: minmax(60px, auto);
  grid-gap: 6px;
}

.a {
  height: 75px;
  width: 90%;
  background-color: black;
  border: 0px white;
  color: white;
  text-align: right;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
}

#clear {
  grid-column: 1/3;
  grid-row: 1;
  color: black;
}

#result {
  grid-column: 1/5;
  color: white;
}

input[type='button'] {
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #151516;
  color: #ffff;
  font-weight: 700;
  cursor: pointer;
  width: 100% ;
  max-width: 300px ;
}



#clear {
  background-color: #ff7f50;
  color: white;
}

input[type='button']:hover {
  background-color: #ff7f50;
  transform: scale(1.1);
}

#clear:hover {
  background-color: #ff4d4d;
}

#result:hover {
  background-color: #4caf50;
}

@media (max-width: 650px) {
  .c{
    width: 35% !important;
    margin-bottom: 10px;
  }

 

  .a {
    width: 100%;
  }
  .button {
    display: grid;
    grid-template-columns: repeat(4, minmax(1, 1fr));
    grid-auto-rows: minmax(90px, auto);
    grid-gap: 5px;
  }




  #result {
    grid-column: 1/5;
    width: 100%;
  }

 
}
